    <h1>Welcome to www.petfinder.com</h1>
    <p>Your account has been successfully created</p>
    <div>
        <p>User Name <%= @user.user_name%></p>
        <p>User Email <%= @user.email%></p>
        
        <p>Thanks for joining and have a great day!</p>
    </div>
