    <h1>Welcome to www.petfinder.com</h1>
    <p>You have successfully signed up to www.petfinder.com</p>
    <p>Your email address is : <%= @user.email%></p>
    <p>Your user name is : <%= @user.user_name%></p>
    <p>Thanks for joining and have a great day!</p>