<h1>Feedback Notification</h1>
    <%# <p>Your account has been successfully created</p> %>
    <div>
        <p>Feedback from </p>
        <p>Name  <%= @feedback.name%></p>
        <p>Email <%= @feedback.email%></p>
        <p>Comment <%= @feedback.comment%></p>
        
        <p>Pet Finder</p>
    </div>