<h1>Thank you for your feedback</h1>
<p>It is much appreciated</p>
<div>
    <p>Feedback Summary </p>
    <p>Name  <%= @feedback.name%></p>
    <p>Email <%= @feedback.email%></p>
    <p>Comment <%= @feedback.comment%></p>
    
    <p>Boula A.</p>
</div>